<div
  class=" flex flex-column align-items-center justify-content-center h-screen w-screen absolute top-0 left-0"  
  style="z-index: 3000;background-color: rgba(0, 0, 0, 0.6)"
>
<div class="flex flex-column bg-gray-100 xl:w-3 md:w-4 sm:w-6 w-9 p-4 border-round-3xl">
  <div class="flex flex-row justify-content-between mb-2 ">
    <p class="text-2xl">Select Date</p>
    <i class="pi pi-times cursor-pointer" (click)="closeUserLinkForm()"></i>
  </div>
  <input
  style="border: none; color: #999"
  class="border-round-xl text-lg shadow-2 p-3 mb-2 border-black-900 font-bold"
  placeholder="{{getPlaceholder()}}"
  type="text"
  [(ngModel)]="selectedDateRange"
  readonly
/>

  <div
    class="p-2 flex p-4 z-5 border-round-xl surface-0 shadow-2 flex-column gap-2 justify-content-center"
    *ngIf="range"
  >
  <div class="flex gap-2">
    <input
      style="border: none; color: #999"
      class="border-round-xl w-6 cursor-pointer text-lg p-3 shadow-2 font-bold"
      placeholder="Today"
      type="text "
      (click)="onSelectRange('today')"
      readonly
    />

    <input
      style="border: none; color: #999"
      class="border-round-xl w-6 cursor-pointer  text-lg p-3 shadow-2 font-bold"
      placeholder="Yesterday"
      type="text "
      (click)="onSelectRange('yesterday')"
      readonly
    />
</div>
<div class="flex gap-2">
    <input 
      class="border-round-xl w-6 cursor-pointer  text-lg p-3 shadow-2 font-bold"
      style="border: none; color: #999"
      placeholder="Last 7 days"
      type="text"
      (click)="onSelectRange('thisWeek')"
      readonly
    />

    <input  *ngIf="restrictDateRange"
      class="border-round-xl w-6 cursor-pointer  text-lg p-3 shadow-2 font-bold"
      style="border: none; color: #999"
      placeholder="This month"
      type="text "
      (click)="onSelectRange('thisMonth')"
      readonly
    />
</div>
    <input
      class="border-round-xl cursor-pointer  text-lg p-3 shadow-2 font-bold"
      style="border: none; color: #999"
      placeholder="Custom range"
      type="text "
      readonly
      (click)="onSelectRange('custom')"
    />

<div *ngIf="showCustomRange"  class="flex flex-column gap-2">
    <p-calendar 
      [style]="{ width: '100%' }"
      placeholder="Start Date"
      [(ngModel)]="customStartDate"
      [showTime]="true"
      [showSeconds]="true"
      (click)="onSelectRange('custom')"

      [maxDate]="customEndDate"      
         ></p-calendar>
    <p-calendar 
      placeholder="End Date"
      [style]="{ width: '100%' }"
      [(ngModel)]="customEndDate"
      [showTime]="true"
      [minDate]="customStartDate"
      [showSeconds]="true"
      class=" cursor-pointer "
      (click)="onSelectRange('custom')"

      [maxDate]="maxDate"
      ></p-calendar>
    </div>
    <small *ngIf="dateError1 " class="text-red">Entered date has more than 7 day gap</small>
 


    <button
      class="border-none p-3 text-lg font-semibold text-white border-round-xl"
      label="Apply"
      style="background-color: #22C55E;"
      (click)="showResult()"
    >
      Apply
    </button>
    <button
      class="border-none p-3 text-lg  font-semibold  text-white border-round-xl"
      label="Cancel"
      style="background-color: #EF4444;"
     (click)="closeUserLinkForm()"
    >
      Cancel
    </button>
  </div>
  
  </div>
</div>
