<div
  class="absolute top-0 bottom-0 left-0 right-0 flex justify-content-center align-items-center"
  style="background-color: rgba(0, 0, 0, 0.5); z-index: 3000"
>
  <div class="bg-white border-round-xl flex flex-column p-4  gap-3">
    
  
    <div>
      <p class="text-2xl font bold">Please write Down the Command that you want send</p>
    </div>

    <input         class=" text-xl"
    placeholder="Enter the command" pInputText [(ngModel)]="value"/>
    <div class="flex flex justify-content-start gap-4">
      <button
      pButton
        label="Send"
        (click)="onConfirm()"
        class="white-space-nowrap"
        class=" text-xl"

      ></button>
  
      <button
      pButton
        severity="danger"
        label="Cancel"
        class="white-space-nowrap"
        (click)="onCancel()"
                  style="background-color: red; border-color: red;"
        class=" text-xl"

      ></button>
    </div>
  </div>
</div>
