.text-style{
    font-size: 9px;
  }
  .icon-style{
    line-height: 2;
    font-size:1.5rem !important;
  }
  
  .detail-page{
    line-height: 1.5;
    padding: 10px;
  }
@media (max-width:600px) {
  .container2{
    display: none;
  }
  .container1{
    height: 40%;
    justify-content: center !important;
    align-self: center !important;
  }
  .container3{

    gap: 2rem;
  }
}

.toggle-button {
  display: none;
}

@media (max-width: 420px) {
  .toggle-button {
    display: inline-block;
  }
}

.details-container {
  overflow: hidden;
  transition: height 0.3s ease;
}

.details-container.show {
  height: 88%;
display: block;}

.details-container.hide {
  height: 0;
display: none;}
