<div
  class=" flex flex-column align-items-center justify-content-center h-screen w-screen absolute top-0 left-0"  
  style="z-index: 3000;background-color: rgba(0, 0, 0, 0.6)"
>
<div class="flex flex-column bg-gray-100 xl:w-3 md:w-4 sm:w-6 w-9 p-4 border-round-3xl">
  <div class="flex flex-row justify-content-between mb-2 ">
    <p class="text-2xl">Select Date</p>
    <i class="pi pi-times cursor-pointer" (click)="closeUserLinkForm()"></i>
  </div>
  <input
  style="border: none; color: #999"
  class="border-round-xl text-lg shadow-2 p-3 mb-2 border-black-900 font-bold"
  placeholder="{{getPlaceholder()}}"
  type="text"
  [(ngModel)]="selectedDateRange"
  (ngModelChange)="handleDateRangeChange()"
  readonly
/>

  <div
    class="p-2 flex p-4 z-5 border-round-xl surface-0 shadow-2 flex-column gap-2 justify-content-center"
    *ngIf="range"
  >
    <input
      style="border: none; color: #999"
      class="border-round-xl cursor-pointer text-lg p-3 shadow-2 font-bold"
      placeholder="Today"
      type="text "
      (click)="selectDateRange('today')"
      readonly
    />

    <input
      style="border: none; color: #999"
      class="border-round-xl cursor-pointer  text-lg p-3 shadow-2 font-bold"
      placeholder="Yesterday"
      type="text "
      (click)="selectDateRange('yesterday')"
      readonly
    />

    <input *ngIf="!restrictDateComponents"
      class="border-round-xl cursor-pointer  text-lg p-3 shadow-2 font-bold"
      style="border: none; color: #999"
      placeholder="Last 7 days"
      type="text"
      (click)="selectDateRange('last7days')"
      readonly
    />

    <input  *ngIf="!restrictDateRange"
      class="border-round-xl cursor-pointer  text-lg p-3 shadow-2 font-bold"
      style="border: none; color: #999"
      placeholder="This month"
      type="text "
      (click)="selectDateRange('thisMonth')"
      readonly
    />

    <input
      class="border-round-xl cursor-pointer  text-lg p-3 shadow-2 font-bold"
      style="border: none; color: #999"
      placeholder="Custom range"
      type="text "
      readonly
      (click)="showCustomRange()"
    />
    <button
      class="border-none p-3 text-lg font-semibold text-white border-round-xl"
      label="Apply"
      style="background-color: #22C55E;"
      (click)="showResult('applyDate')"
    >
      Apply
    </button>
    <button
      class="border-none p-3 text-lg  font-semibold  text-white border-round-xl"
      label="Cancel"
      style="background-color: #EF4444;"
     (click)="closeUserLinkForm()"
    >
      Cancel
    </button>
  </div>
  <div
    class="p-4 shadow-2  z-5 left-auto surface-0 border-round-xl flex flex-column gap-2 justify-content-center w-full"
    *ngIf="customRange"
    style="top: 20rem"
  >
    <h5>Custom Range</h5>
<div  *ngIf="!restrictDateComponents">
    <p-calendar 
      [style]="{ width: '100%' }"
      placeholder="Start Date"
      [(ngModel)]="date1"
      [showTime]="true"
      [showSeconds]="true"

      [maxDate]="date2"      
         ></p-calendar>
    <p-calendar 
      placeholder="End Date"
      [style]="{ width: '100%' }"
      [(ngModel)]="date2"
      [showTime]="true"
      [minDate]="date1"
      [showSeconds]="true"
      class=" cursor-pointer "

      [maxDate]="maxDate"
      ></p-calendar>
    </div>
    <p-calendar  *ngIf="restrictDateComponents"
    placeholder="Select Date"
    [style]="{ width: '100%' }"
    [(ngModel)]="date3"
    class=" cursor-pointer "

    [maxDate]="maxDate"
    ></p-calendar>
    <small *ngIf="dateError1 && restrictDateRange" class="text-red">Entered date has more than 7 day gap</small>
 
    <button
      class="border-none p-3 text-lg  font-semibold text-white border-round-xl"
      label="Apply"
      style="background-color: #22C55E;"
      (click)="showResult(restrictDateComponents ? 'applyCustomDate' : 'applyCustomRange')"    >
      Apply
    </button>
    <button
      class="border-none p-3 text-lg font-semibold  text-white border-round-xl"
      label="Cancel"
      style="background-color: #EF4444;"
      (click)="closeUserLinkForm()"
    >
      Cancel
    </button>
  </div>
  </div>
</div>
