<nav class="layout-breadcrumb">
    <ol>
        <li>
            <a [routerLink]="['/']">
                <i  class="pi pi-home text-black-900" style="font-size: 2rem;color:black"></i>
            </a>
        </li>
        <li class="layout-breadcrumb-chevron"> / </li>
        <ng-template ngFor let-item let-last="last" [ngForOf]="breadcrumbs$ | async">
            <li class="font-bold" style="color:black">{{item.label}}</li>
            <li *ngIf="!last" class="layout-breadcrumb-chevron"> / </li>
        </ng-template>
    </ol>
</nav>