<div class="flex flex-column gap-3 ">
    <input class="text-xl" type="text" pInputText [(ngModel)]="password"/>
    <div class="flex flex-row gap-2">
        <button                 style="background-color: #22c55e"
        pButton type="button" label="Change" (click)="changePassword()"
                class="flex-1 p-button-primary"></button>
        <button                 style="background-color: #ef4444"
        pButton type="button" label="Cancel" (click)="close()" class="flex-1 p-button-primary"></button>
    </div>
</div>
